body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

* {
    box-sizing: border-box;
}

form {
    width: 100%;
}

table {
    background-color: white;
}

.header {
    margin: 0 0 15px 0;
}
/* Add padding to containers */

.studen-list-form {
    padding: 15px;
    background-color: white;
}
.add-form {
    background-color: white;
}
.stud-list {
    background-color: white;
}

input {
    box-shadow: 0 0 10px lightgray;
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
    box-shadow: 2px 0 20px lightgray;
    outline: none;
}

.save-button {
    border-radius: 3px;
    box-shadow: 0 0 10px #999999;
    background-color: #ffc800;
    color: black;
    padding: 15px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.save-button:hover {
    box-shadow: 2px 0 15px #919191;
    opacity: 1;
}

.add-button {
    width: 7em;
    border-radius: 3px;
    background-color: green;
    color: inherit;
    margin: 15px;
    cursor: pointer;
}

.delete-button {
    width: 7em;
    border-radius: 3px;
    background-color: red;
    color: inherit;
    margin: 15px;
    cursor: pointer;
}
